.main{
    width: 100%;
    height: 100vh;
    color: rgba(255, 255, 255, 0.861);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 	#001a33;
}

.coordinates{
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.card-width{
    margin: 20px;
    width: 18rem;
    height: 20rem;
}

.category{
    margin-top: 20px;
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.genre-list{
    display: flex;
    justify-content: start;
}

.genre-item{
    border: 1px solid black;
    background-color: rgb(236, 236, 27);
    margin: 0 5px;
    padding: 5px;
    border-radius: 10px;
}

.movie-list{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 50px;
    justify-content: center;
}

.loading{
    margin-top: 20px;
}

.search-input{
    width: 15rem;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
}

.filters{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.filter-button{
    width: 100px;
}

.filter-button:visited{
    background-color: blue !important;
}

.buttons{
    margin: 20px;
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    align-items: center;
}

.btn-size{
    padding: 5px 25px !important;
    font-size: 18px !important;
}

.question-card{
    margin: 5px 0;
    width: 70%;
    height: fit-content;
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}

.question-info{
    display: flex;
    justify-content: space-between;
}

.answer-choices{
    height: 350px;
    padding: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.answer-choice{
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.correct{
    background-color: rgb(123, 255, 0);
}

.incorrect{
    background-color: rgb(255, 72, 0);
}

.end-screen{
    display: flex;
    justify-content: center;
}

.top{
    margin-top: 10px;
}

.questions-map{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round-info{
    margin-top: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.pause-button{
    font-size: 50px;
}